.dropdown {
  button {
    width: 200px;
    display: flex;
    justify-content: space-between;

    @media(max-width: $mobileSize) {
      width: 100px;
    }
  }
}
.dropdown-menu {
  width: 200px;
}
.dropdown:hover .dropdown-menu {
  display: block;
}